*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    align-self: center;
    background-image: url(/portfolio/assets/so-white-pattern.png);
}

.menu{
    height: 20vh;
    width: 100%;
    padding-top: 3vh;
    background-color: none;

}

.name{
    margin-top: 1.5vh;
    font-size: 32pt;
    text-align: center;
    position: relative;
    font-family: 'Major Mono Display', monospace;
}

hr{
    width: 50%;
    /*taken from w3schools*/
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.bio {
    
    display: grid;
    margin-top: 20px;
    grid-template-columns: auto;
    grid-template-rows:  auto;
    grid-template-areas: "bio1 bio2"
                        "bio1 bio3";
    width: 100%;
    height: auto;
    background-color: #ce796b;  
}

.bio1 {
    margin: 2vh;
    grid-area: bio1;  
    background-color: #e7ad99;

}

.bio1>img{
    margin-top: 2vh;
    padding-left: 5vh;
    height: auto;
}

.width100{
  width: 90%;
  height: auto;
}


.bio2 {
    margin-top: 3vh;
    padding-left: 10vh;
    font-size: 34pt;
    color: #ece2d0;
    margin-right: 3vh;
    font-family: 'Major Mono Display', monospace;
}

.bio3 {
    grid-area: bio3;
    padding-left: 2vh;
    margin-bottom: 10vh;
    line-height: 5vh;
    font-size: 16pt;
    color: honeydew;
    font-family: 'Major Mono Display', monospace;
}

.menu nav {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    padding-right: 20px;
}


.menu ul li {
   list-style: none; 
   display: inline-block;
}

.menu ul li a{
    display: block;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
    color: black;
    /*space between words in menu*/
    padding: 0 60px;
}

.menu ul li a:hover {
    color: grey;
    text-decoration: underline;
}

.SocialMedia ul li {
    list-style: none; 
    display: inline-block;
  }
  
  .SocialMedia ul li a{
     display: block;
     text-decoration: none;
     font-size: 12pt;
     font-weight: bold;
     color: black;
     /*space between words in menu*/
     padding: 0 60px;
  }
  
  .SocialMedia ul li a:hover {
     color: grey;
     text-decoration: underline;
  }
  
  .anotherFooter{
      margin-top: 5vh;
     padding: 10px;
     background-color: none;
  }
  
  .SocialMedia {
  
     font-size: 30px;
     text-align: center;
  
  }
  
  .SocialMedia > a {
  
     text-decoration: none;
     color: black;
     transition: 0.5s color;
     padding: 0 15px;
  }
  
  .SocialMedia > a:hover {
  
  color: grey;
  
  }
  

  .NavBar{
    margin-left: 2px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 0.5vh;
    margin-bottom: 5vh;
  }
  
  .socialIcons{
    font-size: 17px;
  }
  
  ul.socialIcons {
    padding: 0;
    text-align: center;
  }
  
  .socialIcons li {
    background-color: white;
    list-style: none;
    display:inline-block; /* creates one line */
    margin: 3px;
    border-radius: 2em;
    overflow: hidden;
  }
  
/*   .socialIcons > li:hover{
  max-width: 15em;
  transition: 0.4s ease-in-out;
  padding-left: 1em;
  } */
  
  .socialIcons li a {
    display: block;
    min-width: 2.28571429em;
    max-width: 2.28571429em;
    height: 2.28571429em;
    white-space: nowrap; 
    line-height: 1.5em; /* it's working only when you write text with icon */
    transition: 0.5s; 
    text-decoration: none;
    font-family: 'Major Mono Display', monospace;
    color: #fff;
  }
  
  /* centers other icons */
  .socialIcons li i {
    margin-top: 0.7em;
    margin-left:0.5em;
    margin-right: 0.7em;
  }

  .socialIcons li:hover a {
    max-width: 200px;
    padding-right: 1em;
  }

  
  /* centers the digital art icon */
  .socialIcons .digitalart i {
    margin-left: 0.7em;
  }

  .socialIcons .photography i {
    margin-left: 0.4em;
    padding-left: 0.2em;
  }
  
  
  .socialIcons .photography {
    background-color: #3d405d;
  }
  .socialIcons .home {
    background-color: lightgrey;
  }
  
  #home{
    color: grey;
  }
  
  #contact{
    color: grey;
  }
  
  .socialIcons .contact {
    background-color: lightgrey;
  }
  
  .socialIcons .digitalart {
    background-color: #f6bd60;
  }
  
  .socialIcons .drawings {
    background-color: #f5cac3;
  }
  
  .socialIcons .uniprojects {
    background-color: #f28482;
  }

  #wordLink{
    text-decoration: none;
    color: black;
  }

  #wordLink:hover{
    color: #ead8ce;
    text-decoration: underline;
  }

  
  @media only screen and (min-width: 1200px) {

    .bio2{
      font-size: 35pt;
      margin-bottom: 3vh;
    }
 

  .bio1{
    height: auto;
  }


  .bio3{
    font-size: 18pt;
    margin-bottom: 0;
  }

  }

  @media only screen and (max-width: 992px) {

    .bio2{
      font-size: 28pt;
      margin-bottom: 3vh;
    }
 

  .bio1{
    height: auto;
  }


  .bio3{
    font-size: 10pt;
    margin-bottom: 0;
  }

  }
  
  @media only screen and (max-width: 768px) {

    .bio {
    
      display: grid;
      margin-top: 20px;
      grid-template-columns: auto;
      grid-template-rows:  auto;
      grid-template-areas: "bio2"
                          "bio3"
                          "bio1";
    }

    .bio1{
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    .bio2{
      font-size: 30pt;
    }

    .bio3{
      padding-top: 2vh;
      font-size: 14pt;
    }

  
  }
  
  @media only screen and (max-width: 576px) {

    .menu ul li a{
      padding: 0 10px;
      font-size: 10pt;
    }

    .bio2{
      font-size: 24pt;
      padding: 0;
      margin-left: 3vh;
      justify-content: center;
      align-items: center;
    }
      
    .bio3{
      font-size: 10pt;
    }

    .bio {
    
      display: grid;
      margin-top: 20px;
      grid-template-columns: auto;
      grid-template-rows:  auto;
      grid-template-areas: "bio2"
                          "bio3"
                          "bio1";
    }

  }