*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    align-self: center;
    background-image: url(/portfolio/assets/pattern3.png);
    margin-bottom: 10vh;
}

.menu{
    height: 20vh;
    width: 100%;
    padding-top: 3vh;
    background-color: rgb(255, 255, 255);

}

.name{
    margin-top: 1.5vh;
    font-size: 32pt;
    text-align: center;
    position: relative;
    font-family: 'Major Mono Display Regular';
}

hr{
    width: 50%;
    /*taken from w3schools*/
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.bio {
    
    display: grid;
    margin: auto;
    margin-top: 20px;
    grid-template-columns: 2fr auto;
    grid-template-rows: 2fr auto;
    grid-template-areas: "bio1 bio2"
                        "bio1 bio3";
    width: 95%;
    height: 90vh;
    background-color: rgba(102, 78, 76, 1);  
}

.bio1 {
 grid-area: bio1;  
}

.bio1>img{
    margin-top: 4vh;
    margin-left: 5vh;
    height: 90%;
}


.bio2 {
    margin-top: 3vh;
    font-size: 34pt;
    color: black;
    text-decoration: underline;
    font-family: 'Major Mono Display Regular';
}

.bio3 {
    grid-area: bio3;
    padding-bottom: 10vh;
    line-height: 5vh;
    font-size: 16pt;
    color: honeydew;
    font-family: 'Major Mono Display Regular';
}

nav {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    font-family: 'Major Mono Display Regular';
    padding-right: 20px;
}


ul li {
   list-style: none; 
   display: inline-block;
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
    color: black;
    /*space between words in menu*/
    padding: 0 60px;
}

ul li a:hover {
    color: grey;
    text-decoration: underline;
}