*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.width100{
    width: 100%;
    height: auto;
}

body{
    background-color:#ead8ce;
    background-image: url(/portfolio/assets/so-white-pattern.png);
}




header {
    height: 100%;
    width: auto;
    background-color: #ead8ce;
}

main{
    align-self: center;
}

.name{
    padding-top: 3px;
    font-size: 55pt;
    text-align: center;
    position: relative;
    font-family: 'Major Mono Display', monospace;
}

hr{
    width: 50%;
    /*taken from w3schools*/
    display: block;
    margin-top: 2em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.menu{
    height: 30vh;
    width: 100%;
    background-color: rgb(255, 255, 255);

}

.fixedMenu{
    position: fixed;
    top: 0;
    left: 0;
}

.sections {
    grid-area: center;
    margin: auto;
    display: grid;
    margin-top: 50px;
    margin-bottom: 8vh;
    grid-gap: 25px;
    grid-template-columns: auto;
    grid-template-rows: 4fr;
    grid-template-areas: "section1 right1"
                         "section2 right2"
                         "section3 right3"
                         "section4 right4";
    width: 100%;
    padding-left: 5vh;
    padding-right: 5vh;

}

.sections  > div > a > img:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.sections > div > a > img {
    box-shadow: 15px 15px 35px grey;
    border-radius:25px;
}

.section1 {
    grid-area: section1;
    align-items: flex-end;
}


.right1{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: right1;
    font-family: 'Major Mono Display', monospace;
    color: black;
    font-size: 36pt;
    
}

.section2 {
    grid-area: right2;
    justify-content: flex-end;
    align-items: center;
}

.right2{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: section2;
    font-family: 'Major Mono Display', monospace;
    color: black;
    font-size: 36pt;
}

.section3 {
    grid-area: section3;

}

.right3{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: right3;
    font-family: 'Major Mono Display', monospace;
    color: black;
    font-size: 36pt;
}

.section4 {
    grid-area: right4;
    justify-content: flex-end;
    align-items: center;

}

.right4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Major Mono Display', monospace;
    color: black;
    font-size: 36pt;
}

/*span{
    position: absolute;
    margin: 40px;
    color: honeydew;
}*/

.bio {
    
    display: grid;
    margin: auto;
    margin-top: 20px;
    grid-template-columns: 2fr auto;
    grid-template-rows: 2fr auto;
    grid-template-areas: "bio1 bio2"
                        "bio1 bio3";
    width: 95%;
    height: 90vh;
    background-color: rgba(102, 78, 76, 1);  
}

.bio1 {
 grid-area: bio1;  
}

.bio1>img{
    margin-top: 4vh;
    margin-left: 5vh;
    height: 90%;
}


.bio2 {
    margin-top: 3vh;
    font-size: 34pt;
    color: black;
    text-decoration: underline;
    font-family: 'Major Mono Display', monospace;
}

.bio3 {
    grid-area: bio3;
    padding-bottom: 10vh;
    line-height: 5vh;
    font-size: 16pt;
    color: honeydew;
    font-family: 'Major Mono Display', monospace;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    position: relative;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
}


ul li {
   list-style: none; 
   display: inline-block;
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 15pt;
    font-weight: bold;
    color: black;
    /*space between words in menu*/
  /*   padding: 0 60px; */
}
ul li .crta:hover{
    text-decoration: none;
    display: block;
    text-decoration: none;
    font-size: 15pt;
    font-weight: bold;
    color: black;
}
ul li a:hover {
    color: grey;
    text-decoration: underline;
}

footer{
    padding: 10px;
    background-color: white;
}

.socialMedia {

    font-size: 30px;
    text-align: center;

}

.socialMedia > a {

    text-decoration: none;
    color: black;
    transition: 0.5s color;
    padding: 0 40px;
}

.socialMedia > a:hover {

color: grey;

}

@media only screen and (max-width: 768px) {
    body{
        width: 100%;
        height: auto;
    }
   /*  main{
        display: flex;
        flex-direction: row;
    } */
    .right1{
        display: none;
    }
    .right2{
        display: none;
    }
    .right3{
        display: none; 
    }
    .right4{
        display: none;
    }
    .sections{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "section1 section2"
                             "section3 section4";
    }

    .section2{
        grid-area: section2;
    }

    .section4{
        grid-area: section4;
    }
    
    header{
        /* height: 50vh; */
        margin-bottom: 0;
    }

    .menu{
        height: 20vh;
    }

    .name{
        font-size: 38pt;
    }

    nav{
        margin-top: 10px;
    }

    hr{
        margin-top: 1vh;
    }

    ul li a{
        font-size: 10pt;
    }

    .sections > div > a > img {
        box-shadow: 8px 8px 15px grey;
        border-radius:15px;
    }

}

@media only screen and (max-width: 992px) {
   /*  main{
        display: flex;
        flex-direction: row;
    } */
    header{
       /*  height: 70vh; */
        margin: 0;
    }
    .right1{
        display: none;
    }
    .right2{
        display: none;
    }
    .right3{
        display: none; 
    }
    .right4{
        display: none;
    }
    .sections{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "section1 section2"
                             "section3 section4";
    }

    .section2{
        grid-area: section2;
    }

    .section4{
        grid-area: section4;
    }

    .menu{
        height: 20vh;
    }

    .name{
        font-size: 43pt;
    }

    nav{
        margin-top: 10px;
    }

    hr{
        margin-top: 1vh;
    }

    ul li a{
        font-size: 12pt;
    }

}

@media only screen and (min-width: 1370px) {
    /*  main{
         display: flex;
         flex-direction: row;
     } */
     header{
         height: 100%;
         margin: 0;
     }
 
     .menu{
         height: 30vh;
     }

     nav{
         margin-top: 3vh;
     }
 
 }
 
 @media only screen and (max-width: 576px) {
    /*  main{
         display: flex;
         flex-direction: row;
     } */
     header{
        /*  height: 40vh; */
         margin: 0;
     }
     .right1{
         display: none;
     }
     .right2{
         display: none;
     }
     .right3{
         display: none; 
     }
     .right4{
         display: none;
     }
     .sections{
         grid-template-columns: auto;
         grid-template-rows: auto;
         grid-template-areas: "section1 section2"
                              "section3 section4";
     }
 
     .section2{
         grid-area: section2;
     }
 
     .section4{
         grid-area: section4;
     }
 
     .menu{
         height: 17vh;
     }
 
     .name{
         font-size: 24pt;
     }
 
     nav{
         margin-top: 0;
     }
 
     hr{
         margin-top: 1vh;
         margin-bottom: 0;
     }

     ul li a{
         font-size: 8pt;
     }
 
 }